
.translate-x-0 {
  transform: translateX(0);
}

.-translate-x-full {
  transform: translateX(-100%);
}


.bg-opacity-50 {
  background-color: rgba(31, 41, 55, 0.5);
}


.fixed {
  position: fixed;
}

.z-50 {
  z-index: 50;
}
