<nav class="bg-fundo p-4 flex justify-between items-center top-0 left-0 w-full z-50 shadow-lg">
  <div class="text-white font-bold text-lg flex items-center">
    <button class="text-white focus:outline-none mr-4" (click)="toggleSidebar()">
      <svg *ngIf="!sidebarOpen" class="block h-8 w-8" fill="none" viewBox="0 0 24 24" stroke-width="2"
        stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
      <svg *ngIf="sidebarOpen" xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
    <span>Pedromag</span>
  </div>

  <div class="flex items-center space-x-6">
    <div class="relative"  (click)="showNotification()">
      <button class="text-white focus:outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke-width="2"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6 6 0 10-12 0v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m0 0v1a3 3 0 106 0v-1m-6 0h6" />
        </svg>
        <span *ngIf="agendamentosAmanha.length"  class="absolute top-0 right-0 block h-3 w-3 bg-red-600 rounded-full border border-white"></span>
      </button>
      <div (mouseleave)="showNotifications = false" *ngIf="showNotifications" class="absolute right-0 mt-2 w-64 bg-white rounded-lg shadow-lg z-40">
        <div class="p-2">
          <h3 class="font-bold text-gray-800">Notificações</h3>
          <ul>
            <li class="p-2 hover:bg-gray-200" *ngIf="agendamentosAmanha.length">
              <div class="font-semibold">Novo Agendamento</div>
              <div class="text-gray-600 text-sm">{{ agendamentosAmanha.length === 1 ? 'Você tem um novo agendamento para amanhã.': '+' + agendamentosAmanha.length + ' agendamentos para amanhã' }}</div>
              <div class="text-gray-400 text-xs"> {{ datahoramanha | timeAgo }}</div>
            </li>
            <li class="p-2 hover:bg-gray-200">
              <div class="font-semibold text-blue-600">+5 imóveis vendidos</div>
              <div class="text-gray-600 text-sm">5 imóveis vendidos recentemente.</div>
              <div class="text-gray-400 text-xs">Atualizado há 10 minutos</div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="relative" (click)="showUserMen()">
      <button class="text-white focus:outline-none">
        <lucide-icon name="user-round-cog"  class="h-8 w-8"></lucide-icon>
      </button>
      <div (mouseleave)="showUserMenu = false" *ngIf="showUserMenu" class="absolute right-0 mt-2 w-48 bg-white rounded-lg shadow-lg z-40">
        <div class="p-2">
          <ul>
            <li class="p-2 hover:bg-gray-200"><a routerLink="/profile">Meu Perfil</a></li>
            <li class="p-2 hover:bg-gray-200" (click)="sair()">Sair</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<div [ngClass]="{'block': sidebarOpen, 'hidden': !sidebarOpen}" class="fixed inset-0 bg-gray-800 bg-opacity-50 z-40"
  (click)="toggleSidebar()">
</div>

<div [ngClass]="{'translate-x-0': sidebarOpen, '-translate-x-full': !sidebarOpen}"
  class="fixed top-0 left-0 w-64 bg-white h-full shadow-lg transform transition-transform duration-300 ease-in-out z-50">

  <div class="p-4 bg-fundo text-white font-bold flex justify-between items-center">
    <span>Menu</span>
    <button class="focus:outline-none" (click)="toggleSidebar()">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>

  <ul class="mt-4">
    <li *ngIf="hasPermission('WC_PEDROMAG_MOD_ADMINISTRACAO','PEDROMAG_MOD_CJ','WC_PS_PEDROMAG_ANA_VAL','WC_PS_PEDROMAG_ANA_ANA')" (click)="toggleSidebar()" class="p-4 hover:bg-gray-200 flex items-center">
      <lucide-icon name="home" class="mr-2"></lucide-icon>
      <a routerLink="/sysconp" class="block text-gray-900">Dashboard</a>
    </li>
    <li *ngIf="hasPermission('WC_PEDROMAG_MOD_ADMINISTRACAO','PEDROMAG_MOD_CJ','WC_PS_PEDROMAG_ANA_VAL','WC_PS_PEDROMAG_ANA_ANA')" (click)="toggleSidebar()" class="p-4 hover:bg-gray-200 flex items-center">
      <lucide-icon name="clock-3" class="mr-2"></lucide-icon>
      <a routerLink="/sysconp/agendamentos" class="block text-gray-900">Agendamentos</a>
    </li>
    <li *ngIf="hasPermission('WC_PEDROMAG_MOD_ADMINISTRACAO','PEDROMAG_MOD_CJ','WC_PS_PEDROMAG_ANA_VAL')" (click)="toggleSidebar()" class="p-4 hover:bg-gray-200 flex items-center">
      <lucide-icon name="briefcase" class="mr-2"></lucide-icon>
      <a routerLink="/sysconp/projecto" class="block text-gray-900">Projectos</a>
    </li>
    <li *ngIf="hasPermission('WC_PEDROMAG_MOD_ADMINISTRACAO')" (click)="toggleSidebar()" class="p-4 hover:bg-gray-200 flex items-center">
      <lucide-icon name="users" class="mr-2"></lucide-icon>
      <a routerLink="/sysconp/usuario" class="block text-gray-900">Gestão de usuário</a>
    </li>
    <li *ngIf="hasPermission('WC_PEDROMAG_MOD_ADMINISTRACAO')" (click)="toggleSidebar()" class="p-4 hover:bg-gray-200 flex items-center">
      <lucide-icon name="settings" class="mr-2"></lucide-icon>
      <a routerLink="/sysconp/modulos" class="block text-gray-900">Gerir Modulos</a>
    </li>
    <li *ngIf="hasPermission('WC_PEDROMAG_MOD_ADMINISTRACAO','PEDROMAG_MOD_CJ','WC_PS_PEDROMAG_ANA_VAL','WC_PS_PEDROMAG_ANA_ANA')" (click)="toggleSidebar()" class="p-4 hover:bg-gray-200 flex items-center">
      <lucide-icon name="home" class="mr-2"></lucide-icon>
      <a routerLink="/sysconp/imovel" class="block text-gray-900">Imóvel</a>
    </li>
    <li *ngIf="hasPermission('WC_PEDROMAG_MOD_ADMINISTRACAO','PEDROMAG_MOD_CJ','WC_PS_PEDROMAG_ANA_VAL','WC_PS_PEDROMAG_ANA_ANA')" (click)="toggleSidebar()" class="p-4 hover:bg-gray-200 flex items-center">
      <lucide-icon name="shopping-cart" class="mr-2"></lucide-icon>
      <a routerLink="/sales" class="block text-gray-900">Vendas</a>
    </li>
    <li *ngIf="hasPermission('WC_PEDROMAG_MOD_ADMINISTRACAO','PEDROMAG_MOD_CJ','WC_PS_PEDROMAG_ANA_VAL')"(click)="toggleSidebar()" class="p-4 hover:bg-gray-200 flex items-center">
      <lucide-icon name="file-text" class="mr-2"></lucide-icon>
      <a routerLink="/reports" class="block text-gray-900">Relatórios</a>
    </li>
  </ul>
</div>

<div class="h-40 w-full bg-cover bg-center rounded-t-lg flex justify-start items-center"
  [ngStyle]="{'background-image': 'url(' + bgImage + ')'}">
  <div class="p-10 h-auto" style="font-family: 'CustomFont'">
    <div class="text-white text-2xl font-black font-sans">Bem-vindo ao Sysconp</div>
    <div class="text-white font-medium font-sans text-sm mt-1">{{user.name}}</div>
  </div>
</div>
