<div class="fixed inset-0 flex items-center justify-center z-50">
  <div class="fixed inset-0 bg-black opacity-30"></div>
  <div class="bg-white rounded-lg overflow-hidden shadow-lg w-[700px] z-10">
    <div class="flex justify-between items-center bg-blue-800 p-4">
      <h2 class="text-xl font-bold text-white">Novo Agendamento</h2>
      <button (click)="close()" class="text-white hover:text-gray-300">
        <lucide-icon name="x" class="w-6 h-6"></lucide-icon>
      </button>
    </div>
    <form [formGroup]="appointmentForm" (ngSubmit)="addAppointment()" class="p-4">
      <div class="mb-4">
        <label for="client" class="block text-sm font-medium text-gray-700">Cliente</label>
        <input formControlName="client" id="client" required class="mt-1 block w-full h-9 border border-input bg-transparent rounded-md shadow-sm px-3 py-1 text-sm" />
      </div>
      <div class="mb-4">
        <label for="project" class="block text-sm font-medium text-gray-700">Projeto</label>
        <input formControlName="project" id="project" required class="mt-1 block w-full h-9 border border-input bg-transparent rounded-md shadow-sm px-3 py-1 text-sm" />
      </div>
      <div class="mb-4">
        <label for="date" class="block text-sm font-medium text-gray-700">Data</label>
        <input formControlName="date" type="date" id="date" required class="mt-1 block w-full h-9 border border-input bg-transparent rounded-md shadow-sm px-3 py-1 text-sm" />
      </div>
      <div class="mb-4">
        <label for="time" class="block text-sm font-medium text-gray-700">Hora</label>
        <input formControlName="time" type="time" id="time" required class="mt-1 block w-full h-9 border border-input bg-transparent rounded-md shadow-sm px-3 py-1 text-sm" />
      </div>
      <div class="flex justify-end">
        <button type="button" (click)="close()" class="bg-gray-500 text-white rounded-md px-4 py-2 hover:bg-gray-800">Cancelar</button>
        <button type="submit" class="bg-blue-500 text-white rounded-md px-4 py-2 hover:bg-blue-600">Adicionar</button>
      </div>
    </form>
  </div>
</div>
