.modal {
  width: 600px; /* Ajuste a largura conforme necessário */
  max-width: 90%; /* Para garantir que não fique muito largo em telas pequenas */
  margin: auto; /* Centraliza o modal */
  background-color: white; /* Fundo branco */
  border-radius: 8px; /* Cantos arredondados */
  padding: 20px; /* Espaçamento interno */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra */
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
