<div class="fixed inset-0 flex items-center justify-center z-50">
  <div class="bg-black opacity-50 absolute inset-0"></div>
  <div class="bg-white dark:bg-dark-primary rounded-lg w-[80%] max-w-lg h-[80vh] z-10">
    <div class="flex justify-between items-center GD-SP mb-4 bg-blue-800 p-3 rounded-t-lg">
      <div class="text-xl font-bold text-white">Criar Novo Projeto</div>
      <button (click)="onClose()" class="text-white">X</button>
    </div>

    <div class="w-full px-6">
      <form [formGroup]="projectForm" (ngSubmit)="onSubmit()" class="p-4 space-y-4">
        <div>
          <label for="name" class="block dark:text-white mb-1">Nome do Projeto</label>
          <input 
            type="text" 
            id="name" 
            placeholder="Nome do Projeto" 
            class="border p-2 rounded w-full" 
            [ngClass]="{'border-red-500': projectForm.get('name')?.invalid && projectForm.get('name')?.touched}" 
            formControlName="name" 
            required 
          />
          <div *ngIf="projectForm.get('name')?.invalid && projectForm.get('name')?.touched" class="text-red-500 text-sm">
            Campo obrigatório
          </div>
        </div>
  
        <div>
          <label for="description" class="block dark:text-white mb-1">Descrição</label>
          <textarea 
            id="description" 
            class="border p-2 rounded w-full" 
            placeholder="Descrição" 
            rows="4" 
            [ngClass]="{'border-red-500': projectForm.get('description')?.invalid && projectForm.get('description')?.touched}" 
            formControlName="description" 
            required>
          </textarea>
          <div *ngIf="projectForm.get('description')?.invalid && projectForm.get('description')?.touched" class="text-red-500 text-sm">
            Campo obrigatório
          </div>
        </div>

        <div class="mt-4">
          <button type="submit" class="mt-1 bg-[#2b407c] w-full text-white p-2 rounded">
            Salvar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
